{% extends "master.html" %}

{% block title %}Trang chủ{%  endblock %}
{% block content %}
<div class="container">
	<form method="post" action = "/quotes" >
		<!-- //onsubmit="return check()" -->
			<table align="center">
				<tr>
					<th colspan="2" id="tt"> ĐĂNG KÝ</Th>
				</TR>
				<TR>
					<td>Họ tên:<span class="cl"> *</span> </td>
					<td><input type="text" name="name" id="name" size="30" ></td>
				</tr>
				<TR>
					<td>Tài khoản:<span class="cl"> *</span></td>
					<td><input type="text" name="user" id="user" size="30" ></td>
				</tr>
				<tr>
					<td>Mật khẩu:<span class="cl"> *</span></td>
					<td><input type="password" name="password" id="password" size="30"></td>
				</tr>
				<tr>
					<td>Nhập lại mật khẩu:<span class="cl"> *</span></td>
					<td><input type="password" name="repass" id="repass" size="30"></td>
				</tr>
				<tr>
					<td>Địa chỉ E-Mail:</td>
					<td><input type="text" name="email" id="email" size="30"></td>
				</tr>
				<tr>
					<td>Địa chỉ:</td>
					<td><input type="text" name="dc" size="30"></td>
				</tr>
				<tr>
					<td>Số điện thoại:</td>
					<td><input type="tel" name="phone" size="30"></td>
				</tr>
				<tr>
					<td colspan="2" align="center">
					<button id=submit onclick="return al()">Đăng ký</button>
					</td>
				</tr>
		</form>
    </table>
</div>

<style>
    .cl{
        color: red;
    }
	table{
		background-color: pink;
	}
	#tt{
		font-size: 30px;
		font-style: italic;

	}
	td{
		font-size: 25px;
	}
	button{
		background-color: deeppink;
		color: white;
		border-radius: 4px;
		font-size: 20px;
	}
</style>

<script>
		function check(){	
			<!--Giá trị
			var name=document.getElementById('name').value;
			var user=document.getElementById('user').value;
			var password=document.getElementById('password').value;
			var repass=document.getElementById('repass').value;
			var email=document.getElementById('email').value;

			<!--Kiểm tra rỗng	return false giữ lại giá trị nhập
			if (name == ''){alert('Bạn chưa nhập họ tên');return false}
			if (user == ''){alert('Bạn chưa nhập tài khoản');return false}
			if (password == ''){alert('Bạn chưa nhập mật khẩu');return false}
			if (repass == ''){alert('Bạn chưa nhập mật khẩu nhập lại');return false}

			<!--KT Mật khẩu
			if (password == repass) {return true;}
				else {alert("Mật khẩu nhập lại không đúng!");return false;}
				return true;
		}
		<!--Hàm thông báo đăng ký thành công hay không
		function al(){
			if(check()==true)
				{alert("Đăng ký thành công");}
			else{
				return false}
		}
	</script>
{% endblock %}